<div class="content_post" style="background-image: url(<%# post.image %>);">

<%# 追記 %>
 <%= image_tag post.image.variant(resize: '300x300'), class: 'post-image' if post.image.attached? %>
<%# 追記 %>

     <div class="more">
        <ul class="more_list">
          <li>
            <%= link_to '詳細', post_path(post.id), method: :get %>
          </li>
          <li>
           <% if user_signed_in? && current_user.id == post.user_id %>
            <%= link_to '編集', edit_post_path(post.id), method: :get %>
          </li>
          <li>
            <%= link_to '削除', post_path(post.id), method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
      <p><%= post.text %></p>
      <span class="name">
         <a href="/users/<%= post.user.id %>">
          <span>投稿者</span><%= post.user.name %>
        </a>
      </span>
      <%# いいね追記 %>
        <% if current_user.liked_by?(post.id) %>
          <td><%= link_to 'いいね外す', destroy_like_path(post), method: :DELETE, remote: true %> <%= post.likes.count %></td>
        <% else %>
          <td><%= link_to 'いいねする', create_like_path(post), method: :POST, remote: true %> <%= post.likes.count %></td>
        <% end %>
      <%# いいね追記 %>
    </div>