<div class="contents row">
  <div class="content_post">

    <%= image_tag @post.image, class: 'post-image' if @post.image.attached? %>
    <div class="more">
      <ul class="more_list">
        <li>
          <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to '編集', edit_post_path(@post.id), method: :get %>
        </li>
        <li>
          <%= link_to '削除', post_path(@post.id), method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>

    <div class="weight_text">
      <div class="weight">today's weight </div> 
      <div class="weight-what"> <%= @post.weight %>kg </div>
      <br> 
      <div class="text">text</div> 
      <div class="text-what"> 
        <div class="text-what-text"> <%= @post.text %> </div>
      </div>
    </div>
    <span class="name">
      <a href="/users/<%= @post.user.id %>">
      @<%= @post.user.name%>
      </a>
    </span>
  </div>  

    <div class="container">
      <% if user_signed_in? %>
        <%= form_with(model: [@post, @comment], local: true) do |form| %>
           <%= render 'layouts/error_messages', model: @post %>
          <%= form.text_area :comment_text, placeholder: "コメントする  ※70文字以内", rows: "2" %>
          <%= form.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
      <% end %>
      <div class="comments">
        <h4>＜コメント一覧＞</h4>
        <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.comment_text %>
        </p>
        <% end %>
      </div>
    </div>
</div>